// _KeyFrames.scss File

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-25.8rem * 2));
    }
}

@keyframes scroll-left-marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-50.4rem * 2));
    }
}

@keyframes scroll-left-marquee-dk {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-74.2rem * 2));
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(calc(-25.8rem * 2));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
        transform: translateY(0);

    }

    to {
        display: none;
        opacity: 0;
        transform: translateY(50%);

    }
}