// _variables.scss file

$font-aeonik: 'Aeonik-Regular';
$font-aeonik-bold: 'Aeonik-Bold';
$font-countach: 'Countach-Regular';
$font-countach-bold: 'Countach-Bold';

$primary-color:#762cfb;
$white: #FFFFFF;

// TAMAÑO FUENTES
$font-size-mb-12: 12px;
$font-size-mb-16: 16px;
$font-size-mb-18: 18px;
$font-size-mb-24: 24px;
$font-size-mb-40: 40px;
$font-size-mb-55: 55px;
$font-size-mb-60: 60px;
$font-size-dk-32: 32px;
$font-size-dk-35: 35px;
$font-size-dk-88: 88px;