// _variables.scss file

$font-aeonik: 'Aeonik-Regular';
$font-aeonik-bold: 'Aeonik-Bold';
$font-countach: 'Countach-Regular';
$font-countach-bold: 'Countach-Bold';

$primary-color:#762cfb;
$white: #FFFFFF;

// TAMAÑO FUENTE < 992px
$font-size-mb-dk-12: 12px;