// _main scss file

@use '../base/typography' as *;
@use '../base/variables' as *;
@use '../base/keyframes' as *;

.main-content {
    margin: 12.4rem 0 0;
    
    &__container {
        width: 100%;
        padding: 2rem 2rem 0;
        height: 59rem;
        position: relative;

        @media(min-width: 992px) {
            padding: 4rem 4rem 0;
            max-width: 136.6rem;
            margin: 0 auto;
        }

        @media (min-width: 1200px) {
            height: 59rem;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .5rem;
            object-position: center center;
        }
    }

    &__btn {
        position: absolute;
        bottom: 2rem;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        @media (min-width: 992px) {
            justify-content: flex-start;
            padding: 0 0 0 6rem;
        }
    }
}