<section class="products">
  <div class="products__container--type-01">
    <div class="products__container--type-05">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Generación de cada producto en el slider -->
          {% for product in products %}
            <div class="swiper-slide">
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="products__controls">
        <!-- Barra de desplazamiento del slider -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
    <!-- Contenedor para mostrar todos los productos -->
    <div class="products__container--type-06" id="products">
      {% for product in products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>
    <!-- Botón para alternar entre ver más o ver menos productos -->
    <div class="products__button--type-02">
      <button class="btn__tertiary" id="btn-view">View All</button>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btnView = document.getElementById('btn-view');
    const products = document.getElementById('products');

    // Evento al hacer clic en el botón para mostrar más o menos productos
    btnView.addEventListener('click', () => {
      products.classList.toggle('active');
      btnView.textContent = products.classList.contains('active') ? 'View Less' : 'View All';
    });
    // Configuración del slider de productos con Swiper
    const swiper = new Swiper('.swiper', {
      slidesPerView: 1.5, // Número de productos visibles a la vez
      scrollbar: {
        el: '.swiper-scrollbar', // Elemento de la barra de desplazamiento
        clickable: true, // Permite hacer clic en la barra de desplazamiento
      },
    });
  });
</script>
