<div class="header__container--type-03">
  <div class="header__payment mb">
    <div class="header__payment--content">
      <p class="header__text">We Accept</p>
      <div>
        {% render 'icons/icon-bitcoin' %}
      </div>
      <div>
        {% render 'icons/icon-ethereum' %}
      </div>
      <div>
        {% render 'icons/icon-litecoin' %}
      </div>
      <div>
        {% render 'icons/icon-dashcoin' %}
      </div>
      <div>
        {% render 'icons/icon-dollar' %}
      </div>
    </div>
  </div>
</div>
