<div class="header__container--type-03">
  <div class="header__payment">
    <div class="header__payment--content">
      <!-- Texto que indica los métodos de pago aceptados -->
      <p class="header__text wow animate__animated animate__fadeInUp" data-wow-duration="0.4s">We Accept</p>
      <!-- Íconos de métodos de pago (cada uno con animación de entrada) -->
      <div class="wow animate__animated animate__fadeInUp" data-wow-duration="0.4s">
        {% render 'icons/icon-bitcoin' %}
      </div>
      <div class="wow animate__animated animate__fadeInUp" data-wow-duration="0.5s">
        {% render 'icons/icon-ethereum' %}
      </div>
      <div class="wow animate__animated animate__fadeInUp" data-wow-duration="0.6s">
        {% render 'icons/icon-litecoin' %}
      </div>
      <div class="wow animate__animated animate__fadeInUp" data-wow-duration="0.7s">
        {% render 'icons/icon-dashcoin' %}
      </div>
      <div class="wow animate__animated animate__fadeInUp" data-wow-duration="0.8s">
        {% render 'icons/icon-dollar' %}
      </div>
    </div>
  </div>
</div>
