// _buttons scss file
@use '../base/variables' as *;
@use '../base/typography' as *;
@use '../base/mixins' as *;

.btn {
    &__primary {
        width: 100%;
        max-width: 19.2rem;
        height: 7.4rem;
        background: $primary-color;
        border-radius: .5rem;
        @include basic-a-btn;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: $font-countach-bold;
        font-size: $font-size-mb-24;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 $white;
        -webkit-transition: ease-out 0.35s;
        -moz-transition: ease-out 0.35s;
        transition: ease-out 0.35s;
        border: .2rem solid $primary-color;
        white-space: normal;
        /* Permitir que el texto haga wrap (salto de línea) */
        word-wrap: break-word;
        /* Asegura que las palabras largas se ajusten */
        overflow-wrap: break-word;
        /* Deja que las palabras largas se dividan */
        overflow: hidden;
        /* Ocultar el contenido que se desborda */

        &:hover {
            box-shadow: inset 0 100px 0 0 $white;
            color: $primary-color;
        }

        @media (min-width: 992px) {
            max-width: 31.9rem;
            font-size: $font-size-dk-32;

        }
    }

    &__secondary {
        display: flex;
        align-items: center;
        gap: .25rem;
        @include basic-a-btn;
        font-size: $font-size-mb-18;

        @media (min-width: 992px) {
            font-size: $font-size-dk-35;
            gap: .8rem;

        }

        &.separator {
            color: #6B38F1;
        }

        &.text {
            color: $white;
            font-family: $font-countach-bold;
        }

        &.text-secondary {
            display: none;
            color: $white;
            font-family: $font-aeonik-bold;

            @media (min-width: 992px) {
                display: flex;
            }
        }
    }

    &__tertiary {
        text-transform: uppercase;
        width: 100%;
        max-width: 15.1rem;
        height: 7.4rem;
        background: $primary-color;
        border-radius: .5rem;
        @include basic-a-btn;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-family: $font-countach-bold;
        font-size: $font-size-mb-24;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 $white;
        -webkit-transition: ease-out 0.35s;
        -moz-transition: ease-out 0.35s;
        transition: ease-out 0.35s;
        border: .2rem solid $primary-color;
        white-space: normal;
        /* Permitir que el texto haga wrap (salto de línea) */
        word-wrap: break-word;
        /* Asegura que las palabras largas se ajusten */
        overflow-wrap: break-word;
        /* Deja que las palabras largas se dividan */
        overflow: hidden;
        /* Ocultar el contenido que se desborda */

        &:hover {
            box-shadow: inset 0 100px 0 0 $white;
            color: $primary-color;
        }

        @media (min-width: 992px) {
            font-size: $font-size-dk-32;

        }
    }

    &__market {
        width: 4.2rem;
        height: 4.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        background: $primary-color;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 #6c29e4;
        -webkit-transition: ease-out 0.35s;
        -moz-transition: ease-out 0.35s;
        transition: ease-out 0.35s;
        border: none;
        outline: none;

        &:hover {
            box-shadow: inset 0 100px 0 0 #6c29e4;
        }

        @media (min-width: 992px) {
            width: 6rem;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        outline: none;
        opacity: 1;
        transition: opacity 0.8s ease;

        @media (min-width: 992px) {
            display: none;
        }

        &.active {
            opacity: 0;
        }
    }

    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        outline: none;

        @media (min-width: 992px) {
            display: none;

        }
    }

    &__link {
        text-decoration: none;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        font-family: $font-countach-bold;
        font-size: $font-size-mb-40;
        color: $white;
        height: 4rem;
        display: flex;
        align-items: center;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
        text-transform: uppercase;


        &:hover {
            -webkit-box-shadow: 0px 5px 0px 0px rgba(118, 44, 251, 1);
            -moz-box-shadow: 0px 5px 0px 0px rgba(118, 44, 251, 1);
            box-shadow: 0px 3px 0px 0px rgba(118, 44, 251, 1);
        }

        @media (min-width: 992px) {
            text-transform: capitalize;

            font-family: $font-aeonik;
            font-size: $font-size-mb-16;
            height: 2.4rem;
        }

        &--footer {
            &-primary {
                outline: none;
                border: none;
                background: transparent;
                cursor: pointer;
                font-family: $font-aeonik;
                font-size: $font-size-mb-24;
                color: $white;
                text-decoration: none;
                -webkit-transition: ease-out 0.2s;
                -moz-transition: ease-out 0.2s;
                transition: ease-out 0.2s;

                &:hover {
                    -webkit-box-shadow: 0px 5px 0px 0px rgba(118, 44, 251, 1);
                    -moz-box-shadow: 0px 5px 0px 0px rgba(118, 44, 251, 1);
                    box-shadow: 0px 3px 0px 0px rgba(118, 44, 251, 1);
                    color: rgba(118, 44, 251, 1);

                }
            }

            &-secondary {
                outline: none;
                border: none;
                background: transparent;
                cursor: pointer;
                font-family: $font-aeonik;
                font-size: $font-size-mb-12;
                color: $white;
                text-decoration: none;

                &:hover {
                    color: rgba(118, 44, 251, 1);

                }
            }
        }
    }

    &__submit {
        height: 100%;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        width: 4rem;
    }
}